{% extends 'SBUserBundle:Default:index.html.twig' %}

{% set userBundleTwigVars = {'section': 'Roles', 'title': 'Roles', 'action': 'index' } %}

{% block body -%}
<div class="the-box full no-border">
	<div class="table-responsive">
		<table class="table table-th-block table-striped">
			<thead>
				<tr>
					<th style="width:40px;">Id</th>
					<th>Name</th>
					<th>Role</th>
					<th style="width:180px;"></th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.id }}</td>
					<td><a href="{{ path('role_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
					<td>{{ entity.role }}</td>
					<td class="text-right">
						<a class="btn btn-primary" href="{{ path('role_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> view</a>
						<a class="btn btn-primary" href="{{ path('role_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i> edit</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div><!-- /.table-responsive -->
</div><!-- /.the-box -->

<div class="the-box full transparent">
	<div class="btn-group">
		<a class="btn btn-info" data-toggle="tooltip" data-original-title="Create a new Role" href="{{ path('role_new') }}"><i class="fa fa-plus"></i>Add</a>
	</div>
</div><!-- /.the-box -->
{% endblock %}
