{% extends 'SBUserBundle:Default:index.html.twig' %}

{% set userBundleTwigVars = {'section': 'Roles', 'title': 'view: ' ~ entity.name, 'action': 'show', 'parentPath': 'role' } %}

{%- block alertTop -%}
<div id="delete-alert"></div>
{%- endblock %}

{% block body -%}
<div class="the-box">
	<dl class="dl-horizontal">
		<dt>Id</dt>
		<dd>{{ entity.id }}</dd>
		<dt>Name</dt>
		<dd>{{ entity.name }}</dd>
		<dt>Role</dt>
		<dd>{{ entity.role }}</dd>
	</dl>
</div><!-- /.the-box -->

<div class="the-box full transparent">
	<form id="delete_{{ userBundleTwigVars.parentPath }}" action="{{ path(userBundleTwigVars.parentPath ~ '_delete', { 'id': entity.id }) }}" method="POST" {{ form_enctype(delete_form) }}>
		<div class="btn-group">
			{# {{ form_widget(delete_form) }} #}
			<a class="btn btn-info" data-toggle="tooltip" data-original-title="Back to the list" href="{{ path(userBundleTwigVars.parentPath) }}"><i class="fa fa-chevron-left"></i> Back</a>
			<a class="btn btn-info" data-toggle="tooltip" data-original-title="Edit {{ userBundleTwigVars.parentPath }}" href="{{ path(userBundleTwigVars.parentPath ~ '_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i> Edit</a>
			<button id="form_submit" type="submit" class="btn btn-info" data-toggle="tooltip" data-original-title="Delete {{ userBundleTwigVars.parentPath }}"><i class="fa fa-times"></i> Delete</button>
		</div>
	</form>
	{{ form(delete_form) }}
</div><!-- /.the-box -->
{% endblock %}


{% block jsPage -%}
<script type="text/javascript">
	(function ($) {
		$('#delete_role').submit(function(event) {
			var _this = this;

			$.ajax({
			   type		: $(_this).attr('method'),
			   url		: $(_this).attr('action'),
			   data		: $(_this).serialize(),
			   dataType : 'json'
			})
			// using the done promise callback
			.done(function(result) {

				// log data to the console so we can see
				console.warn('AjaxDone',result);

				// here we will handle errors and validation messages

				if (!result.success) {
					var errorMessage = '<div class="alert alert-danger alert-block fade in alert-dismissable">'
						+	'<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'
						+	'<p><strong>Role could not be deleted</strong><br/><br/>Data:<br/>id: '+ result.errors.id +'<br/>name: '+ result.errors.name +'<br/>role: '+ result.errors.role+'</p>'
						+ '</div>';
					$('#delete-alert-content').html(errorMessage);
				} else {
					var successMessage = '<div class="alert alert-success alert-block fade in alert-dismissable">'
						+	'<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'
						+	'<p><strong>Role successfully deleted</strong><br/><br/>Deleted data:<br/>id: '+ result.id +'<br/>name: '+ result.name +'<br/>role: '+ result.role+'</p>'
						+ '</div>';
					$('#delete-alert').html(successMessage);
				}
			})
			// using the fail promise callback
			.fail(function(result) {

				// show any errors
				// best to remove for production
				console.warn('AjaxFail',result);
			});
			// stop the form from submitting the normal way and refreshing the page
			event.preventDefault();
		});
	})(jQuery);
</script>
{%- endblock %}
