{% block tel_widget %}
    {% spaceless %}
        {% set type = 'tel' %}
            VAIE ver weg!<ul><li>fucker</li></ul> {# {{ block('form_widget_simple') }} #}
    {% endspaceless %}
{% endblock %}
