{# empty Twig template #}
{% block qq %}
    {% set display_this = entities.xxx|lower %}

    {% if entities.list is iterable %}
            <span>{{entities.xxx}}:</span><select id="{{ display_this }}" name="{{ display_this }}">
            <option value="">Select one...</option>
            {% for key,value in entities.list %}             
                <option value="{{value.id}}">{{value[display_this]}}</option>
            {% endfor %}
        </select>
    {% endif %}
            
{% endblock %}