{# empty Twig template #}

{% block qq %}

<style>
        .price_controls{display:none}
</style>

do you want to update the price for these products:  
<input type="radio" name="change_question" class="radio_update" value="yes">yes
<input type="radio" name="change_question" class="radio_update"  value="no"  checked="checked">no


<div id="price_controls" class="price_controls">

    <br><br>
    Set the price updating
    <input type="radio" name="change" class="radio_direction" value="up">increase
    <input type="radio" name="change" class="radio_direction"  value="down">decrease
    <br><br>

    Fixed Value<input type="text" name="price_value" id="price_value"  class="amount_fixed" value="">
    Percentage Value<input type="text" name="price_percentage" id="price_percentage" class="amount_percentage" value="">

    <a class="btn btn-primary billboard-price-update"   href="#" data-url="{{ path('price_update')}}" ><i class="fa fa-eye"></i> Update price</a>          

    <br><br>
</div>
{% endblock %}