Serach tyou shit head
 
 
{% if data_set is iterable %}
    {% for key,value in data_set %}
        <div id="id_{{key}}">
            {% render controller("SBBillBoardBundle:Product:fancy", {'display_this':key,'data': value}) %}   
        </div>     
    {% endfor %}
{% endif %}

 <a class="btn btn-primary billboard-search" href="#" data-url="{{ path('search')}}" ><i class="fa fa-eye"></i> search</a>

 <a class="btn btn-primary billboard-export" target="_blank" href="" data-url="{{ path('export')}}" ><i class="fa fa-eye"></i> export</a>
 
 