{% extends '::base.html.twig' %}

{% block htmlTitle %}Dashboard | SB\Framework{% endblock %}
{% block pageHeading %}Dashboard{% endblock %}
{% block pageSubHeading %}Starbright Symfony Platform{% endblock %}

{% block body -%}
	{{ parent() }}
{% endblock %}
