{% extends '::visitor_base.html.twig' %}

{% block htmlTitle %}Dashboard | SB\Framework{% endblock %}
{% block pageHeading %}Visitor Section{% endblock %}
{% block pageSubHeading %}Starbright Symfony Platform{% endblock %}

{% block body -%}
	 
{% endblock %}
