<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="author" content="Starbright IT Solutions">
	<title>{% spaceless %}{% block htmlTitle %}SB\Framework{% endblock %}{% endspaceless %}</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

	{# BOOTSTRAP CSS (REQUIRED ON ALL PAGES) #}
	{% block cssRequired -%}
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/css/bootstrap.min.css') }}" />
	{%- endblock %}

	{# PLUGINS CSS #}
	{% block cssPlugins -%}
		{#<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/weather-icon/css/weather-icons.min.css') }}" />#}
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/prettify/prettify.min.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/magnific-popup/magnific-popup.min.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/owl-carousel/owl.carousel.min.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/owl-carousel/owl.theme.min.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/owl-carousel/owl.transitions.min.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/chosen/chosen.min.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/icheck/skins/all.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/datepicker/datepicker.min.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/timepicker/bootstrap-timepicker.min.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/validator/bootstrapValidator.min.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/summernote/summernote.min.css') }}" />
		{#<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/markdown/bootstrap-markdown.min.css') }}" />#}
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/datatable/css/bootstrap.datatable.min.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/morris-chart/morris.min.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/c3-chart/c3.min.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/slider/slider.min.css') }}" />
	{%- endblock %}

	{# MAIN CSS (REQUIRED ON ALL PAGES) #}
	{% block cssApplication -%}
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/plugins/font-awesome/css/font-awesome.min.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/css/style.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset('bundles/sbfrontend/assets/css/style-responsive.css') }}" />
	{%- endblock %}
	{# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body class="tooltips {{ bodyClass|default('') }}">

	{# PAGE #}
	{% block page -%}

	<div class="wrapper">

		{# TOPBAR #}
		{{ include('topbar.html.twig') }}

		{# SIDEBAR LEFT #}
		{{ include('sidebarLeft.html.twig') }}

		{# SIDEBAR RIGHT #}
		{#{{ include('sidebarRight.html.twig') }}#}

		{# BEGIN PAGE CONTENT #}
		<div class="page-content">
			<div class="container-fluid">

				<h1 class="page-heading">{% block pageHeading %}Page Heading{% endblock %} <small>{% block pageSubHeading %}{% endblock %}</small></h1>

				{%- block breadCrumb -%}
					{#
						TODO
						Create a Breadcrumb controller Class to manage the breadcrumbs
					#}
					{# BREADCRUMB #}
					{#<ol class="breadcrumb default square rsaquo">
						<li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
						<li><a href="#fakelink">Table</a></li>
						<li class="active">Static table</li>
					</ol>#}
				{%- endblock -%}{# endblock breadCrumb #}


				{%- block alertTop -%}
					{#
						TODO
						Create an Alert controller Class to manage the templates and content


                                                perghaps this is not a controlling class is not the wayto go - rather control from with in jquery


						Alert Colors:
							alert-success	green
							alert-info		blue
							alert-warning	yellow-orange
							alert-danger	red

						Alert Styles:
							default				dark text on light background
							alert-block			white text on bright background
							alert-bold-border	dark text on white background with colored left border

						Alert Options:
							Dismissable

					#}
                                <div class="alertTop  " id="alertTop">
                                </div>
				{%- endblock -%}{# endblock alertTop #}

				{%- block body -%}

					<div class="the-box" style="height: 200px;">
						<p>Example grid layout</p>
					</div><!-- /.the-box -->

					<div class="row">
						<div class="col-sm-6">
							<div class="the-box" style="height: 200px;">
								<p>Example grid layout</p>
							</div><!-- /.the-box -->
						</div><!-- /.col-sm-6 -->
						<div class="col-sm-6">
							<div class="the-box" style="height: 200px;">
								<p>Example grid layout</p>
							</div><!-- /.the-box -->
						</div><!-- /.col-sm-6 -->
					</div><!-- /.row -->


					<div class="row">
						<div class="col-sm-4">
							<div class="the-box" style="height: 200px;">
								<p>Example grid layout</p>
							</div><!-- /.the-box -->
						</div><!-- /.col-sm-4 -->
						<div class="col-sm-4">
							<div class="the-box" style="height: 200px;">
								<p>Example grid layout</p>
							</div><!-- /.the-box -->
						</div><!-- /.col-sm-4 -->
						<div class="col-sm-4">
							<div class="the-box" style="height: 200px;">
								<p>Example grid layout</p>
							</div><!-- /.the-box -->
						</div><!-- /.col-sm-4 -->
					</div><!-- /.row -->


					<div class="row">
						<div class="col-sm-3">
							<div class="the-box" style="height: 200px;">
								<p>Example grid layout</p>
							</div><!-- /.the-box -->
						</div><!-- /.col-sm-3 -->
						<div class="col-sm-3">
							<div class="the-box" style="height: 200px;">
								<p>Example grid layout</p>
							</div><!-- /.the-box -->
						</div><!-- /.col-sm-3 -->
						<div class="col-sm-3">
							<div class="the-box" style="height: 200px;">
								<p>Example grid layout</p>
							</div><!-- /.the-box -->
						</div><!-- /.col-sm-3 -->
						<div class="col-sm-3">
							<div class="the-box" style="height: 200px;">
								<p>Example grid layout</p>
							</div><!-- /.the-box -->
						</div><!-- /.col-sm-3 -->
					</div><!-- /.row -->

					<div class="row">
						<div class="col-sm-8">
							<div class="the-box" style="height: 200px;">
								<p>Example grid layout</p>
							</div><!-- /.the-box -->
						</div><!-- /.col-sm-8 -->
						<div class="col-sm-4">
							<div class="the-box" style="height: 200px;">
								<p>Example grid layout</p>
							</div><!-- /.the-box -->
						</div><!-- /.col-sm-4 -->
					</div><!-- /.row -->

					<div class="row">
						<div class="col-sm-4">
							<div class="the-box" style="height: 200px;">
								<p>Example grid layout</p>
							</div><!-- /.the-box -->
						</div><!-- /.col-sm-4 -->
						<div class="col-sm-8">
							<div class="the-box" style="height: 200px;">
								<p>Example grid layout</p>
							</div><!-- /.the-box -->
						</div><!-- /.col-sm-8 -->
					</div><!-- /.row -->

				{%- endblock -%}{# endblock body #}

			</div><!-- /.container-fluid -->

			{# FOOTER #}
			<footer>
				&copy; 2014 <a href="http://www.starbright.co.za" target="_blank">Starbright</a>. Personalized IT Solutions.
			</footer>

		</div><!-- /.page-content -->
	</div><!-- /.wrapper -->
	{# END PAGE CONTENT #}

	{%- endblock %}{# endblock page #}

	{# Placed at the end of the document so the pages load faster #}
	{# MAIN JAVASRCIPT (REQUIRED ON ALL PAGES) #}
	{% block jsRequired -%}
		<script src="{{ asset('bundles/sbfrontend/assets/js/jquery.min.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/retina/retina.min.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/nicescroll/jquery.nicescroll.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/backstretch/jquery.backstretch.min.js') }}"></script>
	{%- endblock %}

	{# PLUGINS JAVASRCIPT #}
	{% block jsPlugins -%}
		{#<script src="{{ asset('bundles/sbfrontend/assets/plugins/skycons/skycons.js') }}"></script>#}
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/prettify/prettify.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/owl-carousel/owl.carousel.min.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/chosen/chosen.jquery.min.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/icheck/icheck.min.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/timepicker/bootstrap-timepicker.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/mask/jquery.mask.min.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/validator/bootstrapValidator.min.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/datatable/js/jquery.dataTables.min.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/datatable/js/bootstrap.datatable.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/summernote/summernote.min.js') }}"></script>
		{#<script src="{{ asset('bundles/sbfrontend/assets/plugins/markdown/markdown.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/markdown/to-markdown.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/markdown/bootstrap-markdown.js') }}"></script>#}
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/slider/bootstrap-slider.js') }}"></script>


		<script src="{{ asset('bundles/sbmultiuploader/assets/jQuery-File-Upload/js/vendor/jquery.ui.widget.js') }}"></script>
		<script src="{{ asset('bundles/sbmultiuploader/assets/jQuery-File-Upload/js/jquery.fileupload.js') }}"></script>
		<script src="{{ asset('bundles/sbmultiuploader/assets/jQuery-File-Upload/js/jquery.fileupload-process.js') }}"></script>
		<script src="{{ asset('bundles/sbmultiuploader/assets/jQuery-File-Upload/js/jquery.fileupload-image.js') }}"></script>
		<script src="{{ asset('bundles/sbmultiuploader/assets/jQuery-File-Upload/js/jquery.fileupload-validate.js') }}"></script>
		<script src="{{ asset('bundles/sbmultiuploader/assets/jQuery-File-Upload/js/jquery.fileupload-ui.js') }}"></script>
		{#<script src="{{ asset('bundles/sbmultiuploader/assets/jQuery-File-Upload/js/main.js') }}"></script>#}

	{%- endblock %}
{#
	<!-- PLUGIN: EASY PIE CHART JS -->
	{% block jsPlugins -%}
		{{ parent() }}
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/easypie-chart/easypiechart.min.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/easypie-chart/jquery.easypiechart.min.js') }}"></script>
	{%- endblock %}

	<!-- PLUGIN: KNOB JS -->
	{% block jsPlugins -%}
		{{ parent() }}
		<!--[if IE]>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/jquery-knob/excanvas.js') }}"></script>
		<![endif]-->
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/jquery-knob/jquery.knob.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/jquery-knob/knob.js') }}"></script>
	{%- endblock %}

	<!-- PLUGIN: FLOT CHART JS -->
	{% block jsPlugins -%}
		{{ parent() }}
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/flot-chart/jquery.flot.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/flot-chart/jquery.flot.tooltip.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/flot-chart/jquery.flot.resize.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/flot-chart/jquery.flot.selection.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/flot-chart/jquery.flot.stack.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/flot-chart/jquery.flot.time.js') }}"></script>
	{%- endblock %}

	<!-- PLUGIN: MORRIS JS -->
	{% block jsPlugins -%}
		{{ parent() }}
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/morris-chart/raphael.min.js') }}"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/morris-chart/morris.min.js') }}"></script>
	{%- endblock %}

	<!-- PLUGIN: C3 JS -->
	{% block jsPlugins -%}
		{{ parent() }}
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/c3-chart/d3.v3.min.js') }}" charset="utf-8"></script>
		<script src="{{ asset('bundles/sbfrontend/assets/plugins/c3-chart/c3.min.js') }}"></script>
	{%- endblock %}
-#}
	{# MAIN APPLICATION JAVASRCIPT #}
	{% block jsApplication -%}
		<script src="{{ asset('bundles/sbfrontend/assets/js/apps.js') }}"></script>
	{%- endblock %}

	{# PAGE JAVASRCIPT #}
	{% block jsPage -%}{%- endblock %}
</body>
</html>
