{# BEGIN SIDEBAR RIGHT HEADING #}
<div class="sidebar-right-heading">
	<ul class="nav nav-tabs square nav-justified">
	  <li class="active"><a href="#online-user-sidebar" data-toggle="tab"><i class="fa fa-comments"></i></a></li>
	  <li><a href="#notification-sidebar" data-toggle="tab"><i class="fa fa-bell"></i></a></li>
	  <li><a href="#task-sidebar" data-toggle="tab"><i class="fa fa-tasks"></i></a></li>
	  <li><a href="#setting-sidebar" data-toggle="tab"><i class="fa fa-cogs"></i></a></li>
	</ul>
</div><!-- /.sidebar-right-heading -->
{# END SIDEBAR RIGHT HEADING #}

{# BEGIN SIDEBAR RIGHT #}
<div class="sidebar-right sidebar-nicescroller">
	<div class="tab-content">
	  <div class="tab-pane fade in active" id="online-user-sidebar">
		<ul class="sidebar-menu online-user">
			<li class="static">ONLINE USERS</li>
			<li><a href="#fakelink">
				<span class="user-status success"></span>
				<img src="{{ asset('bundles/sbfrontend/assets/img/avatar/avatar.jpg') }}" class="ava-sidebar img-circle" alt="Avatar">
				<i class="fa fa-mobile-phone device-status"></i>
				Thomas White
				<span class="small-caps">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
			</a></li>


			<li class="static">IDLE USERS</li>
			<li><a href="#fakelink">
				<span class="user-status warning"></span>
				<img src="{{ asset('bundles/sbfrontend/assets/img/avatar/avatar.jpg') }}" class="ava-sidebar img-circle" alt="Avatar">
				<i class="fa fa-windows device-status"></i>
				Elizabeth Owens
				<span class="small-caps">2 hours</span>
			</a></li>


			<li class="static">OFFLINE USERS</li>
			<li><a href="#fakelink">
				<span class="user-status danger"></span>
				<img src="{{ asset('bundles/sbfrontend/assets/img/avatar/avatar.jpg') }}" class="ava-sidebar img-circle" alt="Avatar">
				Craig Dixon
				<span class="small-caps">Last seen 2 hours ago</span>
			</a></li>

		</ul>
	  </div>
	  <div class="tab-pane fade" id="notification-sidebar">
		<ul class="sidebar-menu sidebar-notification">
			<li class="static">TODAY</li>
			<li><a href="#fakelink" data-toggle="tooltip" title="Maria Simpson" data-placement="left">
				<img src="{{ asset('bundles/sbfrontend/assets/img/avatar/avatar.jpg') }}" class="ava-sidebar img-circle" alt="Avatar">
				<span class="activity">Change her avatar</span>
				<span class="small-caps">20 hours ago</span>
			</a></li>
			<li class="static">YESTERDAY</li>
			<li><a href="#fakelink" data-toggle="tooltip" title="Jason Crawford" data-placement="left">
				<img src="{{ asset('bundles/sbfrontend/assets/img/avatar/avatar.jpg') }}" class="ava-sidebar img-circle" alt="Avatar">
				<span class="activity">Posted something on your profile page</span>
				<span class="small-caps">Yesterday 10:45:12</span>
			</a></li>
			<li class="static text-center"><button class="btn btn-primary btn-sm">See all notifications</button></li>
		</ul>
	  </div>
	  <div class="tab-pane fade" id="task-sidebar">
		<ul class="sidebar-menu sidebar-task">
			<li class="static">UNCOMPLETED</li>
			<li><a href="#fakelink" data-toggle="tooltip" title="in progress" data-placement="left">
				<i class="fa fa-clock-o icon-task-sidebar progress"></i>
				In progress task
				<span class="small-caps">Deadline : Next week</span>
			</a></li>
			<li><a href="#fakelink" data-toggle="tooltip" title="uncompleted" data-placement="left">
				<i class="fa fa-exclamation-circle icon-task-sidebar uncompleted"></i>
				Uncompleted task
				<span class="small-caps">Deadline : 2 hours ago</span>
			</a></li>


			<li class="static">COMPLETED</li>
			<li><a href="#fakelink" data-toggle="tooltip" title="completed" data-placement="left">
				<i class="fa fa-check-circle-o icon-task-sidebar completed"></i>
				Completed task
				<span class="small-caps">Completed : 10 hours ago</span>
			</a></li>


			<li class="static text-center"><button class="btn btn-success btn-sm">See all tasks</button></li>
		</ul>
	  </div><!-- /#task-sidebar -->
	  <div class="tab-pane fade" id="setting-sidebar">
		<ul class="sidebar-menu">
			<li class="static">ACCOUNT SETTING</li>
			<li class="text-content">
				<div class="switch">
					<div class="onoffswitch blank">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoffswitch3" checked>
						<label class="onoffswitch-label" for="onoffswitch3">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
				Example on off switch
			</li>
			<li class="text-content">
				<div class="switch">
					<div class="onoffswitch blank">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoffswitch4">
						<label class="onoffswitch-label" for="onoffswitch4">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
				Example on off switch
			</li>
		</ul>
	  </div><!-- /#setting-sidebar -->
	</div><!-- /.tab-content -->
</div><!-- /.sidebar-right -->
{# END SIDEBAR RIGHT #}
