<div class="sidebar-left sidebar-nicescroller light-color">
	{% block sidebarLeft -%}
	<ul class="sidebar-menu">
		{{ knp_menu_render('SBFrontEndBundle:LeftMenuBuilder:leftMenu', {
			'template': 'SBFrontEndBundle:Menu:knp_left_menu.html.twig',
			'currentClass': 'selected',
			'ancestorClass': 'selected',
			'compressed': true
			}) }}
	</ul>
	{% endblock %} {# endblock sidebarLeft #}
</div><!-- /.sidebar-left -->
