<div class="top-navbar">
	<div class="top-navbar-inner">

		{# BRAND LOGO #}
		<div class="logo-brand info-color">
			<a href="#"><img src="{{ asset('bundles/sbfrontend/assets/img/sbf-logo-primary.png') }}" alt="Logo"></a>
		</div><!-- /.logo-brand -->

		<div class="top-nav-content">

			{# Button sidebar left toggle #}
			<div class="btn-collapse-sidebar-left">
				<i class="fa fa-long-arrow-right icon-dinamic"></i>
			</div><!-- /.btn-collapse-sidebar-left -->

			{# Button sidebar right toggle #}
			{#<div class="btn-collapse-sidebar-right">
				<i class="fa fa-bullhorn"></i>
			</div><!-- /.btn-collapse-sidebar-right -->#}

			{# Button nav toggle #}
			{#<div class="btn-collapse-nav" data-toggle="collapse" data-target="#main-fixed-nav">
				<i class="fa fa-plus icon-plus"></i>
			</div><!-- /.btn-collapse-sidebar-right -->#}


			{# TOP USER SESSION NAV #}
			<ul class="nav-user navbar-right">
				<li class="dropdown">
					{% if app.user %}
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img src="{{ asset('bundles/sbfrontend/assets/img/avatar/avatar.jpg') }}" class="avatar img-circle" alt="Avatar">
						Hi, <strong>{{ app.user.username }}</strong>
						{#{{ app.security.getToken().getUser().getUsername() }}#}
					</a>
					<ul class="dropdown-menu square primary margin-list-rounded with-triangle">
						{{ knp_menu_render('SBFrontEndBundle:TopUserMenuBuilder:TopUserMenu', {
							'template': 'SBFrontEndBundle:Menu:knp_top_user_menu.html.twig',
							'currentClass': 'selected',
							'ancestorClass': 'selected',
							'compressed': true,
							'depth':1
							}) }}
					</ul>
					{% else %}
						<a href="{{ path('login') }}">Login</a>
					{% endif %}
				</li>
			</ul>

			{# COLLAPSIBLE TOP MENU NAV #}
			<div class="collapse navbar-collapse" id="main-fixed-nav">
				{# Nav search form #}
				<form id="s" name="s" class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
				</form>

			</div><!-- /.navbar-collapse -->

		</div><!-- /.top-nav-content -->
	</div><!-- /.top-navbar-inner -->
</div><!-- /.top-navbar -->
