{% extends '::base.html.twig' %} 

{% block body -%}
<h1>Hello {{ name }}!</h1>
    
<form id="mapy_form" name="mapy_form" action="{{ path('mapy_get' )}}" method="POST">
   
    {% if data.mapy == 'Mapy!' %}
        <h2>Searching Google, please go and have some chips!</h2>
        <h3>Lat: {{data.lat}}</h3>
        <h3>Long: {{data.long}}</h3> 
        <img src="maps/{{data.generated_map}}" name="generated_map" id="generated_map"> 
    {% endif %} 
        <br><br>
    Latitude: <input type="text" name="lat" id="lat" value="-26.014399"/>
    
    Longitude: <input type="text" name="long" id="long" value="28.101103"/>
    <br><br>
    <input type="submit" name="mapy" id="may" value="Mapy!" >
  
</form>
{% endblock %}
