{% extends '::base.html.twig' %}

{# src/SB/SecurityBundle/Resources/views/Security/login.html.twig #}

{% set bodyClass = 'login' %}

{% block page -%}
	<div class="login-header text-center">
		<img src="{{ asset('bundles/sbfrontend/assets/img/logo-login.png') }}" class="logo" alt="Logo">
	</div>
	<div class="login-wrapper">

		{% if error %}
			<div class="alert alert-danger alert-bold-border fade in alert-dismissable">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  <strong>Error!</strong> {{ error.message }}
			</div>
		{% endif %}

		<form role="form" action="{{ path('login_check') }}" method="post"
			data-bv-message="This value is not valid"
			data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
			data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
			data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

			<div class="form-group has-feedback lg left-feedback no-label">
			  <input type="text" id="username" name="_username" value="{{ last_username }}"
				class="form-control no-border input-lg rounded" placeholder="Enter username" autofocus
				required data-bv-notempty-message="The username is required and cannot be empty">
			  <span class="fa fa-user form-control-feedback"></span>
			</div>

			<div class="form-group has-feedback lg left-feedback no-label">
			  <input id="password" name="_password" type="password"
				class="form-control no-border input-lg rounded" placeholder="Enter password"
				required data-bv-notempty-message="The password is required and cannot be empty">
			  <span class="fa fa-unlock-alt form-control-feedback"></span>
			</div>

			<div class="form-group">
			  <div class="checkbox">
				<label>
				  <input type="checkbox" class="i-yellow-flat"> Remember me
				</label>
			  </div>
			</div>
			{#
				If you want to control the URL the user
				is redirected to on success (more details below)
				<input type="hidden" name="_target_path" value="/account" />
			#}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

			<div class="form-group">
				<button type="submit" class="btn btn-info btn-lg btn-perspective btn-block">LOGIN</button>
			</div>
		</form>
		{#<p class="text-center"><strong><a href="forgot-password.html">Forgot your password?</a></strong></p>#}
	</div><!-- /.login-wrapper -->

{% endblock %}
