/**
+++++++++++++++++++++++++++++++++++++++++++
LAYOUT
+++++++++++++++++++++++++++++++++++++++++++
**/
body{
	padding-top: 50px;
	color: #434A54;
}
header{
	padding: 40px 20px;
	overflow: hidden;
	background: url(../img/paving.png) #37BC9B;
	position: relative;
	color: #fff;
}
header h1{
	line-height: 150%;
}
header a{
	color: #fff;
}
header a:hover{
	color: #fff;
	text-decoration: underline;
}
.clear{clear: both;}

.bg-light{
	text-align: center;
	padding: 30px 20px;
	background: #F5F7FA;
}
.bg-light.lg{
	padding: 40px 20px;
	font-size: 60px;
	margin: 50px 0;
	color: #AAB2BD;
	line-height: 100%;
}

.section 					{padding: 50px 0;}
.home-features				{margin: 30px 0;}
.the-col					{padding: 30px 0;}
.section.sm .page-header 	{font-size: 24px;padding: 30px 0;}
.section h1.the-title 		{font-size: 40px;}
.section h3.sub-title 		{color: #656D78;}
h4.sub-title{
	color: #656D78;
	font-size: 18px;
	padding: 10px 0;
	margin: 5px 0 20px;
}
.section.sm {
	padding: 30px 0 30px 0;
	margin-bottom: 30px;
}

.the-col p{
	font-size: 16px;
	color: #656D78;
}

.ndoboost-feature-icon{
	width: 120px;
	height: 120px;
	border: 5px solid #37BC9B;
	border-radius: 15px;
	text-align: center;
	margin: 30px auto;
	font-size: 70px;
	font-weight: bold;
	color: #37BC9B;
	padding: 7px 0;
}

.ndoboost-example-wrap{margin: 30px 0;}
.ndoboost-example-img{margin: 20px 0;}
.ndoboost-example-img img{
	width: auto;
	max-width: 100%;
}


.ndoboost-sidebar {
    position: fixed;
	top: 30px;
	width: 250px;
}
.ndoboost-sidenav{
	background: #F5F7FA;
	margin-top: 50px;
}
.ndoboost-sidebar .nav > li > a {
	display: block;
	color: #656D78;
	padding: 5px 20px;
	border-right: 3px solid transparent;
}
.ndoboost-sidebar .nav > li > a:hover,
.ndoboost-sidebar .nav > li > a:focus {
	text-decoration: none;
	background: #E6E9ED;
}
.ndoboost-sidebar .nav > .active > a,
.ndoboost-sidebar .nav > .active:hover > a,
.ndoboost-sidebar .nav > .active:focus > a {
	font-weight: bold;
	color: #37BC9B;
	border-right-color: #37BC9B;
}
.ndoboost-sidebar .nav .nav {
	display: none;
	margin-bottom: 8px;
}
.ndoboost-sidebar .nav .nav > li > a {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 30px;
	font-size: 90%;
}
@media (min-width: 992px) {
  .ndoboost-sidebar .nav > .active > ul {display: block;}
}

.table-middle tbody tr td{
	vertical-align: middle;
	margin: 30px 0;
}
.table-middle{
	margin: 30px 0;
}

.showcace-screen{
	border: 1px solid #E6E9ED;
	padding: 20px;
	border-radius: 3px;
	margin-bottom: 10px;
}
.showcace-screen img{
	width: auto;
	max-width: 100%;
}
.showcace-screen.gray{
	background-color: #F5F7FA;
}

.small-title{
margin: 30px 0 10px 0;
color: #767E8B;
}

footer{
	padding: 30px 0;
	text-align: center;
	margin-top: 50px;
	color: #909090;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 20px 0;
}
footer ul li{
	display: inline-block;
}
footer ul li a{
	padding: 5px 10px;
}