{% extends '::base.html.twig' %}

{% block htmlTitle -%}
	{% if userBundleTwigVars.action is sameas('index') %}
		{{ userBundleTwigVars.title }} | {{ parent() }}
	{% else %}
		{{ userBundleTwigVars.title }} | {{ userBundleTwigVars.section }} | {{ parent() }}
	{% endif %}
{%- endblock htmlTitle -%}

{%- block pageHeading %}{{ userBundleTwigVars.title }}{% endblock %}

{%- block breadCrumb -%}
	<ol class="breadcrumb default square rsaquo">
		<li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
		{% if userBundleTwigVars.action is sameas('index') %}
			<li class="active">{{ userBundleTwigVars.title }}</li>
		{% else %}
			<li><a href="{{ path(userBundleTwigVars.parentPath) }}">{{userBundleTwigVars.section}}</a></li>
			<li class="active">{{ userBundleTwigVars.title }}</li>
		{% endif %}
	</ol>
{%- endblock %}
{#
{% block pageHeading %}index.html.twig{% endblock %}
{% block pageSubHeading %}Viewing the user page (<strong>UserBundle:Default:index.html.twig</strong>){% endblock %}
#}
