{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PriceReport list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Transactiondate</th>
                <th>Movementvalue</th>
                <th>Movementmethod</th>
                <th>Movementdirection</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('pricereport_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.transactionDate %}{{ entity.transactionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.movementValue }}</td>
                <td>{{ entity.movementMethod }}</td>
                <td>{{ entity.movementDirection }}</td>
                <td>{% if entity.deletedAt %}{{ entity.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('pricereport_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('pricereport_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('pricereport_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
