{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PriceReport</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Transactiondate</th>
                <td>{{ entity.transactionDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Movementvalue</th>
                <td>{{ entity.movementValue }}</td>
            </tr>
            <tr>
                <th>Movementmethod</th>
                <td>{{ entity.movementMethod }}</td>
            </tr>
            <tr>
                <th>Movementdirection</th>
                <td>{{ entity.movementDirection }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{{ entity.deletedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pricereport') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('pricereport_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
