{% extends '::base.html.twig' %}
  
      
{% block body -%}
    <h1>Product edit</h1>

    {{ form(edit_form) }}
    
  
    
  <ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
