{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Product list</h1>
    
        {{ render(controller('SBBillBoardBundle:Product:searchProduct')) }}
    
        {{ render(controller('SBBillBoardBundle:Product:priceControls')) }}
    
        <div id="product_rows">
            
            {% if entities is iterable %}               
                {% include 'SBBillBoardBundle:Product:product_rows.html.twig' with { 'entities': entities }   %}                 
             {% endif %}
            
        </div>
    
        <ul>
        <li>
            <a href="{{ path('product_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
{% block jsPage -%}
    <script src="{{ asset('bundles/sbbillboard/assets/js/billboard.js') }}"></script>
{%- endblock %}