<table class="records_list">
    <thead>
        <tr>
            <th><input type="checkbox" class="check_all"></th>
            <th>Id</th>
            <th>Name</th>
            <th>Number</th>
            <th>Sitenumber</th>
            <th>Provinceid</th>
            <th>City</th>
            <th>Suburb</th> 
            <th>Street</th>
            <th>Cnrstreet</th>
            <th>Gpslong</th>
            <th>Gpslat</th>
            <th>Illuminationid</th>
            <th>Typeid</th>
            <th>Sizeid</th>
            <th>Categoryid</th>
            <th>Ratetypeid</th>
            <th>Templateid</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if entities|length == 1 %}           
             {% include 'SBBillBoardBundle:Product:row.html.twig' with { 'entity': entities[0] }   %}   
        {% else %}
            {% for entity in entities %}
                {% include 'SBBillBoardBundle:Product:row.html.twig' with { 'entity': entity  }   %} 
            {% endfor %}
        {% endif %}
    </tbody>
</table> 