<tr>  
    <td><input type="checkbox" class="export" id="p_{{ entity.id }}" value="{{ entity.id }}"></td>
    <td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
    <td>{{ entity.name }}</td>
    <td>{{ entity.number }}</td>
    <td>{{ entity.siteNumber }}</td>
    <td>{{ entity.provinceId }}</td>
    <td>{{ entity.city }}</td>
    <td>{{ entity.suburb }}</td>
    <td>{{ entity.street }}</td>
    <td>{{ entity.cnrStreet }}</td>
    <td>{{ entity.gpsLong }}</td>
    <td>{{ entity.gpsLat }}</td>
    <td>{{ entity.illuminationId }}</td>
    <td>{{ entity.typeId }}</td>
    <td>{{ entity.sizeId }}</td>
    <td>{{ entity.categoryId }}</td>
    <td>{{ entity.rateTypeId }}</td>
    <td>{{ entity.price }}</td>
    <td>
    <ul>
        <li>
            <a href="{{ path('product_show', { 'id': entity.id }) }}">show</a>
        </li>
        <li>
            <a href="{{ path('product_edit', { 'id': entity.id }) }}">edit</a>
        </li>
    </ul>
    </td> 
</tr> 