{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Product</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>Sitenumber</th>
                <td>{{ entity.siteNumber }}</td>
            </tr>
            <tr>
                <th>Provinceid</th>
                <td>{{ entity.provinceId }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Suburb</th>
                <td>{{ entity.suburb }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ entity.street }}</td>
            </tr>
            <tr>
                <th>Cnrstreet</th>
                <td>{{ entity.cnrStreet }}</td>
            </tr>
            <tr>
                <th>Gpslong</th>
                <td>{{ entity.gpsLong }}</td>
            </tr>
            <tr>
                <th>Gpslat</th>
                <td>{{ entity.gpsLat }}</td>
            </tr>
            <tr>
                <th>Illuminationid</th>
                <td>{{ entity.illuminationId }}</td>
            </tr>
            <tr>
                <th>Typeid</th>
                <td>{{ entity.typeId }}</td>
            </tr>
            <tr>
                <th>Sizeid</th>
                <td>{{ entity.sizeId }}</td>
            </tr>
            <tr>
                <th>Categoryid</th>
                <td>{{ entity.categoryId }}</td>
            </tr>
            <tr>
                <th>Ratetypeid</th>
                <td>{{ entity.rateTypeId }}</td>
            </tr>
             <tr>
                <th>Map</th>
                <td><img src="../../../{{ entity.mapLocation }}"/></td>
            </tr>
            <tr>
                <th>Templateid</th>
                <td>{{ entity.displayTemplateId }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
