{% extends 'SBUserBundle:Default:index.html.twig' %}

{% set userBundleTwigVars = {'section': 'Users', 'title': 'edit: ' ~ entity.username, 'action': 'edit', 'parentPath': 'user' } %}

{% block body -%}
    <h1>User edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
