{% extends 'SBUserBundle:Default:index.html.twig' %}

{% set userBundleTwigVars = {'section': 'Users', 'title': 'Users', 'action': 'index' } %}

{% block body -%}

<script>
    //function user_ajax_delete(user) {

       // alert(user);
        //var assigned_value = sel.options[sel.selectedIndex].value;
       // var lead_id = sel.id;

     /*   $.ajax({
            type: "POST",
            url: _wbc.leadsBundle.leads.index.leadsAssignedUserChange,
            data: {
                    lead_id: lead_id,
                    assigned_value: assigned_value
            },
            success: function(dataCheck) {
                if (dataCheck == 'Done') {
                    $('#messages').html('Lead Assignment, Changed');

                    var row_id = '#' + lead_id;

                    var tableBody = $('#records_list').find("tbody");

                    var trChanged = tableBody.find(row_id);
                    var trNew = trChanged.clone();

                    var x = $(trChanged).find("#assigned_lead_status").text();

                    $(trNew).find("assigned_lead_status").text('s');

                    trChanged.hide();

                    $('#assigned_leads > tbody:last').append(trNew);
                }
            }
        });
    }*/
    
 
</script>


<div class="the-box full no-border">
	<div class="table-responsive">
		<table class="table table-th-block table-striped">
			<thead>
				<tr>
					<th style="width:40px;">Id</th>
					<th>Username</th>
					<th style="width:30px;"></th>
					<th>Email</th>
					<th>Role</th>
					<th style="width:90px;" class="text-center">Status</th>
					<th style="width:180px;"></th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr id="user_{{ entity.id }}">
					<td>{{ entity.id }}</td>
					<td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
					<td>
                                            <a href="mailto:{{ entity.email }}" data-toggle="tooltip" data-original-title="Send email to {{ entity.username }}" data-placement="bottom"><i class="fa fa-envelope"></i></a>
					</td>
					<td>{{ entity.email }}</td>
					<td>{{ entity.roles|join(' ') }}</td>
					<td class="text-center">
						{% if entity.isActive is sameas(1) %}
							<span class="label label-danger">Not active</span>
						{% else %}
							<span class="label label-success">Active</span>
						{% endif %}
					</td>
					<td class="text-right">
                                            <a class="btn btn-primary" href="{{ path('user_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> view</a>
                                            <a class="btn btn-primary" href="{{ path('user_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i> edit</a>
                                            <a class="btn btn-primary ajax-delete" href="#" id="user_{{entity.id}}" data-id="{{entity.id}}" data-url="{{ path('user_delete_ajax')}}"><i class="fa fa-ambulance"></i> delete</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div><!-- /.table-responsive -->
</div><!-- /.the-box -->

<div class="the-box full transparent">
	<div class="btn-group">
		<a class="btn btn-info" data-toggle="tooltip" data-original-title="Create a new User" href="{{ path('user_new') }}"><i class="fa fa-plus"></i>Add</a>
	</div>
</div><!-- /.the-box -->
{% endblock %}

		
{% block jsPage -%}
    <script src="{{ asset('bundles/sbuser/assets/js/user.js') }}"></script>
{%- endblock %}