{% extends 'SBUserBundle:Default:index.html.twig' %}

{% set userBundleTwigVars = {'section': 'Users', 'title': 'create', 'action': 'new', 'parentPath': 'user' } %}

{% block body -%}
    <h1>User creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
