{% extends 'SBUserBundle:Default:index.html.twig' %}

{% set userBundleTwigVars = {'section': 'Users', 'title': 'view: ' ~ entity.username, 'action': 'show', 'parentPath': 'user' } %}

{% block body -%}
<div class="the-box">
	<dl class="dl-horizontal">
		<dt>Id</dt>
		<dd>{{ entity.id }}</dd>
		<dt>Username</dt>
		<dd>{{ entity.username }}</dd>
		<dt>Password</dt>
		<dd>***hidden***{#{{ entity.password }}#}</dd>
		<dt>Email</dt>
		<dd>
			{{ entity.email }} <a href="mailto:{{ entity.email }}" data-toggle="tooltip" data-original-title="Send email to {{ entity.username }}" data-placement="right"><i class="fa fa-envelope"></i></a>
		</dd>
		<dt>Status</dt>
		<dd>
			{% if entity.isActive is sameas(1) %}
				<span class="label label-danger">Not active</span>
			{% else %}
				<span class="label label-success">Active</span>
			{% endif %}
		</dd>
	</dl>
</div><!-- /.the-box -->

<div class="the-box full transparent">
	<form id="delete_{{ userBundleTwigVars.parentPath }}" action="{{ path(userBundleTwigVars.parentPath ~ '_delete', { 'id': entity.id }) }}" method="POST" {{ form_enctype(delete_form) }}>
		<div class="btn-group">
			{# {{ form_widget(delete_form) }} #}
			<a class="btn btn-info" data-toggle="tooltip" data-original-title="Back to the list" href="{{ path(userBundleTwigVars.parentPath) }}"><i class="fa fa-chevron-left"></i> Back</a>
			<a class="btn btn-info" data-toggle="tooltip" data-original-title="Edit {{ userBundleTwigVars.parentPath }}" href="{{ path(userBundleTwigVars.parentPath ~ '_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i> Edit</a>
			<button id="form_submit" type="submit" class="btn btn-info" data-toggle="tooltip" data-original-title="Delete {{ userBundleTwigVars.parentPath }}"><i class="fa fa-times"></i> Delete</button>
		</div>
	</form>
	{{ form(delete_form) }}
</div><!-- /.the-box -->
{% endblock %}
