{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Colour list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Colour</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('colour_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.colour }}</td>
                <td>{% if entity.deletedAt %}{{ entity.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('colour_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('colour_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('colour_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
