{% block googlemap_type_widget %}
    {% spaceless %}     
       {% if form.vars.value is empty  %}
            Please supply a image of blank map?
       {% else %}
            <img src="../../../../{{form.vars.value}}" id="google_map" class="google_map">     
       {% endif %}
    {% endspaceless %}
{% endblock %}